<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwtO_hT4xzlnU61S7oli58ZSHC1m8FkqM</string>
	<key>GCM_SENDER_ID</key>
	<string>821916941556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easd.code.encuesta</string>
	<key>PROJECT_ID</key>
	<string>encuesta-5cbfa</string>
	<key>STORAGE_BUCKET</key>
	<string>encuesta-5cbfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821916941556:ios:4acb1bf86b0fb6c8e7f2a1</string>
</dict>
</plist>